
{% extends 'healthcare/main.html' %}

{% block content %}
    {% load myfilters %}

    <main class="dash-content">
        <div class="container-fluid">
            <h1 class="dash-title">Treatments</h1>
            <div class="row">
                <div class="col-xl-10">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                            <div class="spur-card-title"> Add treatment Form </div>
                        </div>
                        <div class="card-body ">

                            {#  Use this is template and make changes with in the form tags#}
                            <form method="POST" action="">
                                {% csrf_token %}
                                {%  for field  in form %}
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                                        <div class="col-sm-9">
                                            {{ field |addclass:'form-control' }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-title">List of Existing treatment</div>
                        </div>
                        <div class="card-body ">
                            <table class="table table-hover table-in-card">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for treatment in treatments %}
                                    <tr>
                                        <th scope="row"> {{ forloop.counter }}</th>
                                        <td>{{ treatment.name }}</td>
                                        <td>
                                            {{ treatment.description }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}