{% extends 'healthcare/main.html' %}

{% block content %}
    <main class="dash-content">
        <div class="container-fluid">
            {%  if patient.have_you_been_tested_positive_for_COVID == 'Yes' %}
                <div class="row justify-content-md-center">
                <div class="col-xl-12">
                    <a href="{% url 'ContactTracing' %}" class="btn btn-danger btn-lg btn-block mb-1">
                        Fill COVID Contact Tracing</a>
                    <a href="{% url 'reportsymptoms' %}" class="btn btn-info btn-lg btn-block mb-1">
                        Report Symptoms</a>
                </div>
            </div>

                {% else %}
            <div class="row justify-content-md-center">
                <div class="col-xl-12">
                    <a href="{% url 'covidEmergencyChech' %}" class="btn btn-secondary btn-lg btn-block mb-1">Online COVID SCREENING</a>

                </div>
            </div>
            {% endif %}

{#            <div class="col-xl-8">#}
{#                <a href="{% url 'covidScreening' %}" class="btn btn-secondary btn-lg btn-block mb-1">Online COVID SCREENING</a>#}
{#            </div>#}
            <div class="row dash-row">
                <div class="col-xl-6">
                    <div class="stats stats-warning">
                        <h3 class="stats-title"> Confirmed Cases </h3>
                        <div class="stats-content">
                            <div class="stats-data">
                                <div class="stats-number">{{ tarrant_confirmed }}</div>
                                <div class="stats-change">
                                    <span class="stats-timeframe">As of {{ date }} in Tarrant County</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> Deaths </h3>
                        <div class="stats-content">
                            <div class="stats-data">
                                <div class="stats-number">{{ tarrant_death }}</div>
                                <div class="stats-change">
                                    <span class="stats-timeframe">As of {{ date }} in Tarrant County</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-title">COVID Statistics</div>
                        </div>
                        <div class="card-body ">
                            <table class="table table-hover table-in-card">
                                <thead>
                                <tr>

                                    <th scope="col">Locations</th>
                                    <th scope="col">Confirmed Cases</th>
                                    <th scope="col">Deaths</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Dallas County</td>
                                    <td>{{ dallas_confirmed }} </td>
                                    <td>{{ dallas_death }}</td>
                                </tr>
                                <tr>
                                    <td>Tarrant County</td>
                                    <td>{{ tarrant_confirmed }} </td>
                                    <td>{{ tarrant_death }}</td>
                                </tr>
                                <tr>
                                    <td>Collin County</td>
                                    <td>{{ collin_confirmed }} </td>
                                    <td>{{ collin_death }}</td>
                                </tr>
                                <tr>
                                    <td>Denton County</td>
                                    <td>{{ denton_confirmed }} </td>
                                    <td>{{ denton_death }}</td>
                                </tr>
                                <tr>
                                    <td>Parker County</td>
                                    <td>{{ parker_confirmed }} </td>
                                    <td>{{ parker_death }}</td>
                                </tr>
                                <tr>
                                    <td>Johnson County</td>
                                    <td>{{ johnson_confirmed }} </td>
                                    <td>{{ johnson_death }}</td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div><p class="font-weight-lighter">As of {{ date }}. <a target="_blank" href="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv">Source</a> </p>
                </div>
            </div>
        </div>
    </main>


{% endblock %}