{% extends 'healthcare/main.html' %}

{% block content %}
    <main class="dash-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                </div>
            </div>
            <div class="row dash-row">
                <div class="col-xl-6">
                    <div class="stats stats-warning">
                        <h3 class="stats-title"> Confirmed </h3>
                        <div class="stats-content">
                            <div class="stats-data">
                                <div class="stats-number">{{ tarrant_confirmed }}</div>
                                <div class="stats-change">
                                    <span class="stats-timeframe">As of {{ tarrant_date }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> Deaths </h3>
                        <div class="stats-content">
                            <div class="stats-data">
                                <div class="stats-number">{{ tarrant_death }}</div>
                                <div class="stats-change">
                                    <span class="stats-timeframe">As of {{ tarrant_date }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="spur-card-title"> Notifications </div>
                        </div>
                        <div class="card-body ">
                            <div class="notifications">
                                <a href="#!" class="notification">
                                    <div class="notification-icon">
                                        <i class="fas fa-inbox"></i>
                                    </div>
                                    <div class="notification-text">New comment</div>
                                    <span class="notification-time">21 days ago</span>
                                </a>
                                <a href="#!" class="notification">
                                    <div class="notification-icon">
                                        <i class="fas fa-inbox"></i>
                                    </div>
                                    <div class="notification-text">New comment</div>
                                    <span class="notification-time">21 days ago</span>
                                </a>
                                <a href="#!" class="notification">
                                    <div class="notification-icon">
                                        <i class="fas fa-inbox"></i>
                                    </div>
                                    <div class="notification-text">New comment</div>
                                    <span class="notification-time">21 days ago</span>
                                </a>
                                <div class="notifications-show-all">
                                    <a href="#!">Show all</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}