<div class="dash-nav dash-nav-dark">
    <header>
        <a href="{% url 'home' %}" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <a href="{% url 'home' %}" class="spur-logo"><i class="fas fa-bolt"></i>COVID APP</a>
    </header>
    <nav class="dash-nav-list">
        {% if user.is_authenticated %}
            <div class="dash-nav-item">
                <i class="fas fa-user"></i> Hello {{ user.username }} </a>
            </div>
        {% endif %}
        <a href="{% url 'home' %}" class="dash-nav-item">
            <i class="fas fa-home"></i> Home </a>
        <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-viruses"></i> COVID </a>
            <div class="dash-nav-dropdown-menu">
                <a href="{% url 'testLocation' %}" class="dash-nav-dropdown-item dash-nav-item">
                    Test Sites</a>

                <a href="{% url 'covidEmergencyChech' %}" class="dash-nav-dropdown-item">COVID Screening</a>

            </div>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'scheduleAppointment' %}" class="dash-nav-item">Appointment</a>
            {% if not user.is_staff  %}
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-viruses"></i> Medical Record </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="{%  url 'editPatient' patient.id %}" class="dash-nav-dropdown-item dash-nav-item">
                            View/Edit Records</a>
                        <a href="{%  url 'reportsymptoms' %} "class="dash-nav-dropdown-item dash-nav-item">
                            Report Symptoms</a>
                    </div>
                </div>
            {% endif %}
            {% if user.is_staff  %}
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-viruses"></i>Staff </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="{% url 'listPatient' %}" class="dash-nav-dropdown-item dash-nav-item">
                            All Patient</a>
                        <a href="{% url 'medication' %}" class="dash-nav-dropdown-item dash-nav-item">
                            Medication</a>
                        <a href="{% url 'treatment' %}" class="dash-nav-dropdown-item dash-nav-item">
                            Treatment</a>
                        <a href="{%  url 'reviewreportings' %}" class="dash-nav-dropdown-item dash-nav-item">
                            Review Reportings</a>
                        <a href="{%  url 'listCovidTracing' %}" class="dash-nav-dropdown-item dash-nav-item">
                            Contact Tracings</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="dash-nav-item">
                </i> Log Out </a>

        {% else %}

            <a href="{% url 'login' %}" class="dash-nav-item">
                </i> Log In </a>
        {% endif %}

    </nav>
</div>