{% extends 'healthcare/main.html' %}

{% block content %}
    {% load myfilters %}
    <main class="dash-content">
        <div class="container-fluid">

            <h1 class="dash-title"> You are under low risk </h1>
            <div class="row">
                <div class="col-xl-9">
                    <div class="card spur-card">
                        <div class="card-header">

                            <div class="spur-card-title"> Please follow the guidelines  </div>
                        </div>
                        <div class="card-body">

            <h3></h3>
            <li> Rest and take care</li>
            <li> Wash hands frequently with soap and water</li>
            <li> Stay 6ft apart</li>
            <li> Wear a face covering</li>
            <li> Avoid touching face</li>
            <li> Disinfect often touched surface</li>


            </div>
    </main>

{% endblock %}