{#<h3>Password reset complete</h3>#}
{##}
{#<p>Your password has been set. You may go ahead and log in now.</p>#}
{##}
{#<a href="/">Log in</a>#}

<!doctype html>
<html lang="en">

<head> </head>

<body>
<style>
h1 {
  text-align: center ;
  border: 10px solid powderblue;
  padding: 45px;
  background-color: #9bbffd;
}

a{
    font-size:60px;
}
</style>
<br>
    <h1 style="font-size:50px"> Password reset complete</h1>
    <h2 style="font-size:35px">Your password has been set. You may go ahead and log in now.</h2>
    <center><a href="/">Log in</a></center>
</body>
