<!doctype html>
<html lang="en">

<head> </head>

<body>
<style>
h1 {
  text-align: center ;
  border: 10px solid powderblue;
  padding: 45px;
  background-color: #9bbffd;
}

form{
   font-size:30px;
}
input{
   font-size:30px;
}
</style>
<br>
    <h1 style="font-size:50px"> Forgot password  </h1>
    <h2 style="font-size:35px">Please enter your registered email with us.</h2>
     <form method="post">
         {% csrf_token %}
         {{form}}
         <input type="Submit" name="Send email">
     </form>
</body>
