{% extends 'healthcare/main.html' %}

{% block content %}
    <div class="form-screen">
        <div class="card account-dialog">
            <div class="card-header bg-primary text-white"> Forget your password </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email">
                </form>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}