{% extends 'healthcare/main.html' %}

{% block content %}
    <div class="form-screen">
{#        <p class="mb-5">Enter your new password</p>#}
        <div class="card account-dialog">


            <div class="card-header bg-primary text-white"> Reset your password </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}

                    <input type="Submit" name="Update Password">
                </form>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

