{% extends 'healthcare/main.html' %}

{% block content %}
    {% load myfilters %}
    <main class="dash-content">
        <div class="container-fluid">
            {% if not user.is_staff  %}
                <h1 class="dash-title">Schedule Appointment</h1>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="card spur-card">
                            <div class="card-header">
                                <div class="spur-card-title">Choose appointment dates/times.</div>
                            </div>
                            <div class="card-body ">
                                <form method="POST" action="">
                                    {% csrf_token %}

                                    {%  for field  in form %}
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">{{ field.label }}</label>
                                            <div class="col-sm-9">
                                                {{ field | addclass:'form-control'}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <a  class="btn btn-outline-danger" href="{% url 'editPatient' patient.id %}">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            {%  endif %}

            {% include 'healthcare/appointmentList.html' %}
        </div>

    </main>

{% endblock %}