
<div class="row">
    <div class="col-xl-10">
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-title">Medication's for {{ patient }} </div>
            </div>
            <div class="card-body ">
                <table class="table table-hover table-in-card">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Medication Name</th>
                        <th scope="col">Medication Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for patientMed in patientMeds %}
                        <tr>
                            <th scope="row"> {{ forloop.counter }}</th>
                            <td>{{ patientMed.medication }}</td>
                            <td>
                                {{ patientMed.medication.description }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-10">
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-title">Treatment's for {{ patient }} </div>
            </div>
            <div class="card-body ">
                <table class="table table-hover table-in-card">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Medication Name</th>
                        <th scope="col">Medication Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for patientTreatment in patientTreatments %}
                        <tr>
                            <th scope="row"> {{ forloop.counter }}</th>
                            <td>{{ patientTreatment.treatment }}</td>
                            <td>
                                {{ patientTreatment.treatment.description }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


